In [16]:
#Looking one dataset at a time:
#Lending Club is a crowdsourced lender, a pioneer
#unique in its field, serving investment demand.
#Investors want to know:
#Which Lending Club loans get repaid over time? 

import os

os.chdir("/Users/EagleFace/Documents/Loan_Data")
os.getcwd()

'/Users/EagleFace/Documents/Loan_Data'

In [17]:
#Getting a look at the accepted loans data from Lending Club
#so we can look at the classification problem of predicting whether a loan
#will be repaid. 

%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 

data = pd.read_csv("LoanStats3a.csv", skiprows = 1, low_memory = False)
data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
data['loan_status'].unique()

array(['Fully Paid', 'Charged Off', nan,
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off'], dtype=object)

In [19]:
#We are classifying based on whether the loan was repaid, 
#which is the '1', all other outcomes are changed to zero

data_target = data['loan_status'] == 'Fully Paid'
data_target = data_target.astype(int)
data['target'] = data_target

In [20]:
#NA values are dropped for this analysis. 
#In terms of outliers, yes there are some, and they 
#are being left in for now

data = data.dropna(axis = 1, how='all')
data = data.drop('id', axis = 1)

In [21]:
#Setting the data 

data_categorical = data.select_dtypes(include=['object'])
data_categorical.columns

Index(['term', 'int_rate', 'grade', 'sub_grade', 'emp_title', 'emp_length',
       'home_ownership', 'verification_status', 'issue_d', 'loan_status',
       'pymnt_plan', 'desc', 'purpose', 'title', 'zip_code', 'addr_state',
       'earliest_cr_line', 'revol_util', 'initial_list_status', 'last_pymnt_d',
       'next_pymnt_d', 'last_credit_pull_d', 'application_type',
       'hardship_flag', 'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date'],
      dtype='object')

In [23]:
print(data_categorical['purpose'].unique())

['credit_card' 'car' 'small_business' 'other' 'wedding'
 'debt_consolidation' 'home_improvement' 'major_purchase' 'medical'
 'moving' 'vacation' 'house' 'renewable_energy' 'educational' nan]

In [24]:
print(data_categorical['term'].unique())

[' 36 months' ' 60 months' nan]